<style>
  #page_sub_nav {
    display: none;
  }
</style>

<menu class="profile-navigation">
    <ul class="vertical-tab-list">
        <li class="profile-tab"><a href="{{profileRoot}}" class="tab-link no-recolor active-tab" rel="profile">
            <img src="{{profileData.avatarSrc}}" class="profile-tab-avatar">
            <span id="profile-tab-link" class="profile-tab-text">{{#if profileData.nickname}}{{profileData.nickname}}{{else}}פרופיל{{/if}}</span>
        </a></li>
        <li>
            <span class="inactive link-section-header">הישגים</span>
            <ul class="vertical-tab-list second-tier">
                <li><a href="{{profileRoot}}/achievements" class="tab-link has-icon no-recolor" rel="achievements">הישגים</a></li>
                <li><a href="{{profileRoot}}/goals" class="tab-link has-icon no-recolor" rel="goals">יעד (בטא)</a></li>
            </ul>
        </li>
        <li>
            <span class="inactive link-section-header">סטטיסטיקות חיוניות</span>
            <ul class="vertical-tab-list second-tier">
                <li><a href="{{profileRoot}}/vital-statistics/activity" class="tab-link has-icon no-recolor" rel="vital-statistics activity">פעילות</a></li>
                <li><a href="{{profileRoot}}/vital-statistics/focus" class="tab-link has-icon no-recolor" rel="vital-statistics focus">התמקדות</a></li>
                <li><a href="{{profileRoot}}/vital-statistics/exercise-progress" class="tab-link has-icon no-recolor" rel="vital-statistics exercise-progress">התקדמות בתרגילים</a></li>
                <li><a href="{{profileRoot}}/vital-statistics/exercise-progress-over-time" class="tab-link has-icon no-recolor" rel="vital-statistics exercise-progress-over-time">התקדמות במשך זמן</a></li>
            </ul>
        </li>
    </ul>
</menu>

<section class="tab-content">
    <h2 class="profile-sheet-title"></h2>
    <div class="profile-notification">
        {{#if profileData.email}}
            <div class="empty-graph">
                <h2><a href='/#browse'>צפו בסרטון</a> או <a href='/exercisedashboard'>נסו תרגיל</a>!</h2>
                <p>כאשר תעשו, מידע אמיתי יופיע פה.</p>
            </div>
            <div class="error-graph">
                <h2>זו אשמתנו.</h2>
                <p>נשוב מאוחר יותר ובבקשה <a href='/reportissue?type=Defect'>יידעו אותנו</a> אם זה ממשיך.</p>
            </div>
        {{else}}
            <div class="public">
                <h2>אופס, אתם לא מורשים להכנס!</h2>
                <p>בשביל לראות מידע אמיתי אתם חייבים להיות מדריך.</p>
            </div>
        {{/if}}
    </div>
    <div class="clearfix">
        <div id="tab-content-user-profile" rel="profile">
            <div class="user-info-container"></div>
            <div style="clear: both; margin-bottom: 20px;"></div>
            {{#if profileData.email}}
            <div class="activity-column">
                <div id="activity-loading-placeholder">
                    <h2>טעינת פעילות...</h2>
                    <div id="recent-activity-progress-bar"></div>
                </div>
                <div id="activity-contents" style="display:none">
                    {{#if profileData.showSuggestedActivity}}
                    <div id="suggested-activity">
                        <h2>פעילות מוצעת</h2>
                    </div>
                    {{/if}}
                    <div id="recent-activity">
                        <h2>פעילות שהושלמה לאחרונה</h2>
                    </div>
                </div>
            </div>
            <div class="mini-stats-column">
            </div>
            {{/if}}
        </div>

        <div id="tab-content-vital-statistics" rel="vital-statistics">
            {{> vital-statistics}}
        </div>

        <div id="tab-content-achievements" rel="achievements"{{#unless profileData.email}} class="empty-chart"{{/unless}}>
        </div>

        <div id="tab-content-goals" rel="goals">
            <div class="graph-picker">
                מראה את היעדים העכשוויות, שהושלמו ושננטשו.
                <ul class="tabrow">
                    <li class="type current">
                        <a href="{{profileRoot}}/goals/current" class="graph-link no-recolor">עכשוויות</a>
                    </li>
                    <li class="type completed">
                        <a href="{{profileRoot}}/goals/completed" class="graph-link no-recolor">מושלמות</a>
                    </li>
                    <li class="type abandoned">
                        <a href="{{profileRoot}}/goals/abandoned" class="graph-link no-recolor">ננטשו</a>
                    </li>
                    <li>
                        <a class="new-goal simple-button action-gradient disabled" href="javascript:void(0);" style="display: inline-block;">צרו יעד חדשה</a>
                    </li>
                </ul>
            </div>
            <div id="profile-goals-content"></div>
        </div>
    </div>
</section>
