<li class="activity-exercise clearfix{{#if earnedProficiency}} proficient{{/if}}">
    <div class="ach-text">
        <div class="clearfix">
            <span class="activity-image"></span>
            <div class="description">
                פתרתם <span class="problem-count">{{#unless mobileView}}<a href="{{ profileRoot }}/vital-statistics/exercise-problems/{{exercise}}">{{/unless}}{{#if multiple}}{{ cProblems }} שאלות{{else}}שאלה אחת{{/if}}{{#unless mobileView}}</a>{{/unless}}</span>{{#if earnedProficiency}} כדי להשיג מיומנות{{/if}} ב{{exerciseDisplayName}}
            </div>
        </div>
        <div class="activity-controls">
            <span class="time timeago" title="{{dt}}">{{dt}}</span>
        </div>
    </div>
</li>

