<div class="graph-date-picker">
    <ul class="tabrow">
        <li class="today">
            <a href="{{profileRoot}}/vital-statistics/{{graph}}/today" class="no-recolor graph-link">היום</a>
        </li>
        <li class="yesterday">
            <a href="{{profileRoot}}/vital-statistics/{{graph}}/yesterday" class="no-recolor graph-link">אתמול</a>
        </li>
        <li class="selected last-week">
            <a href="{{profileRoot}}/vital-statistics/{{graph}}/last-week" class="no-recolor graph-link">לפני 7 ימים</a>
        </li>
        <li class="last-month">
            <a href="{{profileRoot}}/vital-statistics/{{graph}}/last-month" class="no-recolor graph-link">לפני 30 ימים</a>
        </li>
    </ul>
</div>
