<div style="padding-bottom: 5px; font-size: 120%;">
  <b><a href="/?version={{ number }}">גרסה #{{ number }}</a>:</b>
  {{#edit}}
    <b>[עריכת גרסה]</b>
    <a href="javascript:" class="set-default simple-button green action-gradient">פרסם לאתר</a>
  {{/edit}}
  {{#default}}<b>[גרסה רשמית נוכחית]</b>{{/default}}
  <div id="topictree-queue-progress-wrapper"><div id="topictree-queue-progress-bar"></div><div id="topictree-queue-progress-text"></div></div>
  <a href="/api/v1/topicversion/edit/topictree" class="simple-button green action-gradient">ייצא לקובץ</a>
  <a href="javascript:" class="show-versions simple-button green action-gradient">כל הגרסאות</a>
</div>
<div>
  <b>כותרת:</b> <input type="text" name="title" value="{{ title }}" {{#unless edit}}disabled{{/unless}}></input>
  <b>תיאור:</b> <input type="text" name="description" value="{{ description }}" {{#unless edit}}disabled{{/unless}}></input>
  <b>נוצר:</b> {{ created_on }}
  <b>עודכן:</b> {{ updated_on }} על ידי {{ last_edited_by }}
</div>
