<div>
  <img src="/images/leaf.png" width="49" height="43" style="vertical-align: middle">
  <input type="text" name="title" class="node-title simple-input ui-corner-all blur-on-esc" value="{{ model.title }}">
  <a href="javascript:" data-id="save" class="save-button item-action simple-button disabled action-gradient">שמירה</a>
</div>

<div>
  <a href="javascript:" data-id="add_new_topic" class="item-action left-align simple-button blue action-gradient">הוסיפו כותרת משנה</a>

  <a href="javascript:" data-id="add_new_video" class="item-action left-align separated simple-button blue action-gradient">הוסיפו סרטון חדש</a>
  <a href="javascript:" data-id="add_existing_video" class="item-action left-align simple-button blue action-gradient">הוסיפו סרטון קיים</a>

  <a href="javascript:" data-id="add_new_exercise" class="item-action left-align separated simple-button blue action-gradient">הוסיפו תרגיל חדש</a>
  <a href="javascript:" data-id="add_existing_exercise" class="item-action left-align simple-button blue action-gradient">הוסיפו תרגיל קיים</a>

  <a href="javascript:" data-id="add_new_url" class="item-action left-align separated simple-button blue action-gradient">הוסיפו URL חדש</a>

  <a href="javascript:" data-id="delete_topic" class="item-action left-align separated simple-button blue action-gradient">מחקו נושא</a>
  <a href="javascript:" data-id="ungroup_topic" class="item-action left-align separated simple-button blue action-gradient">הוציאו נושא מקבוצה</a>
</div>
<div style="clear: both" />

<div style="padding: 9px 23px;">
  <div>
    <table class="node-properties">

      <tr>
        {{#if version.edit}}
          <td colspan="2">השינויים נשמרו <strong>בגרסה הערוכה</strong> של האתר כאשר אתם לוחצים על כפתור ה"שמירה".</td>
        {{else}}
          <td colspan="2">לא ניתן לבצע שינויים בגרסה זו. רק הגרסה הערוכה ניתנת לעריכה.</td>
        {{/if}}
      </tr>

      <tr>
        <td style="font-weight:bold;">ראו</td>
        <td style="padding-bottom:9px;">
          <a href="{{ model.ka_url }}" target="_blank">פתחו {{ model.title }} בסמנייה חדשה</a>
        </td>
      </tr>

      <tr>
        <td style="font-weight:bold;">פתחו {{ model.title }} בסמנייה חדשה</td>
        <td style="padding-bottom:9px;">
          <input type="text" name="standalone_title" value="{{ model.standalone_title }}" maxlength="128"/><br/>
          <em>הכותרת מוצאת כאשר הנושא מוצא בפני עצמו, לא באשכול נושאים.</em>
        </td>
      </tr>

      <tr>
        <td style="font-weight:bold;">קבוצה</td>
        <td style="padding-bottom:9px;">
          <input type="text" name="id" value="{{ model.id }}" class="short" maxlength="32"/><br/>
          <em>זיהוי קצר המשומש כמפתר בשביל ה-API וב-URL של כתובת האתר לסרטון הזה</em>
        </td>
      </tr>

      <tr>
        <td style="font-weight:bold;">מוחבא</td>
        <td style="padding-bottom:9px;">
          <input type="checkbox" name="hide" {{#if model.hide }}checked{{/if}} /><br/>
          <em>אם יבדק, הנושא הזה לא יראה באתר.</em>
        </td>
      </tr>

      <tr>
        <td style="font-weight:bold;">תיאור</td>
        <td style="padding-bottom:9px;">
          <input type="text" name="description" value="{{ model.description }}" maxlength="256"/><br/>
          <em>טקסט התיאור נראה ברשימת התיאור</em>
        </td>
      </tr>

      <tr>
        <td style="font-weight:bold;">תוויות</td>
        <td style="padding-bottom:9px;">
          <div class="tags-list"></div>

          <input class="add-tag" type="text" value="" maxlength="32" placeholder=" - הוסף תווית" class="placeholder short" /> 
          <a href="javascript:" data-id="add-tag" class="item-action simple-button action-gradient">הוסף</a>
        </td>
      </tr>

    </table>
  </div>
</div>
