<li class="objective" style="width: {{objectiveWidth}}%">
    <a data-id="{{objectiveID}}" class="objective {{type}} simple-button seethrough exercise-color {{status}}"
        href="{{url}}"
        data-progress="{{progress}}">
            <span class="objective-description">{{description}}</span>
            {{#unless complete}}
            <span class="objective-progress-meter" style="height: {{iconFillHeight}}px"></span>
            {{/unless}}
    </a>
    <div class="hover-data" style="display: none">
        <div>
          {{#if isVideo}}צפה בסרטון <b>{{description}}</b>{{/if}}
          {{#if isAnyVideo}}צפו בכל סרטון{{/if}}
          {{#if isExercise}}השלם תרגיל <b>{{description}}</b>{{/if}}
          {{#if isAnyExercise}}השלימו כל תרגיל{{/if}}
        </div>
        <div class="goal-tooltip-status">
          <span>מצב:</span>
          <span>
            {{#if complete}}
              הושלם
              {{#if isAnyVideo}} (<b>{{description}}</b>){{/if}}
              {{#if isAnyExercise}} (<b>{{description}}</b>){{/if}}
            {{else}}
              {{#if progress}} בתהליך התקדמות ({{progressStr}}%) {{else}} לא הותחל {{/if}}
            {{/if}}
            {{#if struggling}} <span class="goal-tooltip-struggling">(מתקשים)<span> {{/if}}
          </span>
        </div>
    </div>
</li>
