<div class="exercise-edit" data-id="{{ name }}">
  <a href="{{ url }}" title="{{ name }}" style="color: {{#if live}}#069{{else}}red{{/if}}; {{#if summative}}font-weight: bold;{{/if}}display: block">{{ display_name }}</a>
  <span class="exercise-show simple-button action-gradient admin" data-id="name" style="display:none;">
    <img src="/images/map-target.png" title="הצג במפה" alt="Show in map">
  </span>
</div>