<div>
  <img src="/images/generic-exercise-icon-shadow.png" width="48" height="48" style="vertical-align: middle">
  <span class="node-title">{{ model.display_name }}</span>
  <a href="javascript:" data-id="save" class="save-button item-action simple-button disabled action-gradient">שמירה</a>
</div>

<div>
  <a href="javascript:" data-id="remove_item" class="item-action left-align simple-button blue action-gradient">הסירו מנושא</a>
</div>
<div style="clear: both" />

<div style="padding: 9px 23px;">
    <div>
        <table class="node-properties">

          <tr>
            <td colspan="2">כל השינויים נשמרו <strong>בגרסה הערוכה</strong> של האתר כאשר אתם לוחצים על כפתור "שמירה".</td>
          </tr>

            <tr>
                <td style="font-weight:bold;">ראו</td>
                <td style="padding-bottom:9px;">
                    <a href="{{ model.relative_url }}" target="_blank">פתחו {{ model.display_name }} בחלונית חדשה</a>
                </td>
            </tr>

            <tr>
                <td style="font-weight:bold;">מצב</td>
                <td style="padding-bottom:9px;">
                    <label for="live_yes">חי&nbsp;</label><input type="radio" id="live_yes" name="live" value="נכון" {{#if model.live }}checked="checked"{{/if}}/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="live_no">מפתחים בלבד&nbsp;</label><input type="radio" id="live_no" name="live" value="שגוי" {{#unless model.live }}checked="checked"{{/unless}}/>
                    <br/>
                    {{#if oldValues.live }}<span class="old-value">Old value: <input type="text" disabled value="{{#if oldValues.live }}פעיל{{else}}מפתחים בלבד{{/if}}"ערך ישן: <input type="text" disabled value="{{#if oldValues.live }}Live{{else}}Developers Only{{/if}}"/></span><br/>{{/if}}
                    <em>תרגילים שלא בשידור חי מוחבאים לחלוטין ממשתמשים רגילים.</em>
                </td>
            </tr>

            <tr>
                <td style="font-weight:bold;">שם קצר</td>
                <td style="padding-bottom:9px;">
                    <input type="text" name="short_display_name" value="{{ model.short_display_name }}" maxlength="11"/><br/>
                    {{#if oldValues.short_display_name }}<span class="old-value">ערך ישן: <input type="text" disabled value="{{ oldValues.short_display_name }}" maxlength="11"/></span><br/>{{/if}}
                    <em>שם קצר הוא בשימוש בכמה אלמנטים של UI שהם קטנים מידי לתצוגה של השם המלא של התרגיל (11 תווים מקסימום).</em>
                </td>
            </tr>

            <tr>
                <td style="font-weight:bold;">מצב אופקי</td>
                <td style="padding-bottom:9px;">
                    <input type="text" name="v_position" value="{{ model.v_position }}" class="short" /></br>
                    {{#if oldValues.v_position }}<span class="old-value">ערך ישן: <input type="text" disabled value="{{ oldValues.v_position }}" class="short"/></span><br/>{{/if}}
                    <em>מספרים גדולים מזיזים את התרגיל הזה ימינה במפת הידע.</em>
                </td>
            </tr>

            <tr>
                <td style="font-weight:bold;">מצב אנכי</td>
                <td style="padding-bottom:9px;">
                    <input type="text" name="h_position" value="{{ model.h_position }}" class="short" /></br>
                    {{#if oldValues.h_position }}<span class="old-value">ערך ישן: <input type="text" disabled value="{{ oldValues.h_position }}" class="short"/></span><br/>{{/if}}
                    <em>מספרים גדולים מזיזים את התרגיל הזה מטה במפת הידע.</em>
                </td>
            </tr>

            <tr>
                <td style="font-weight:bold;">תנאים מותאמים</td>
                <td style="padding-bottom:9px;">
                    <div class="exercise-prereqs-list"></div>

                    <a href="javascript:" data-id="add-prereq" class="item-action simple-button action-gradient">הוסף תרגיל מותאם</a>
                    <br/>

                    <em>התרגיל הזה יהיה מוצע כאשר התנאים האלו יושלמו.</em><br/>
                    {{#if model.summative }}
                    <em><strong>תרגילים מסכמים</strong> יווצרו תרגילים מכל התנאים</em></br>
                    {{/if}}
                  {{#if oldValues.prerequisites}}
                    {{#each oldValues.prerequisites}}
                      <span class="old-value">ערך ישן: <input type="text" disabled value="{{ this }}" maxlength="256"/></span><br/>
                    {{/each}}
                  {{/if}}
                </td>
            </tr>

            <tr>
                <td style="font-weight:bold;">תרגילים מסכמים</td>
                <td style="padding-bottom:9px;">
                    <div class="exercise-covers-list"></div>

                    <a href="javascript:" data-id="add-cover" class="item-action simple-button action-gradient">הוסף תרגיל מסכם</a>
                    <br/>

                    <em>השגתם מיומנות בתרגיל זה יתן לכם מיומנות בכל התרגילים המסכמים</em>
                  {{#if oldValues.covers}}
                    {{#each oldValues.covers}}
                      <span class="old-value">ערך ישן: <input type="text" disabled value="{{ this }}" maxlength="256"/></span><br/>
                    {{/each}}
                  {{/if}}
                </td>
            </tr>

            {{#unless model.summative }}
            <tr>
                <td style="font-weight:bold;">סרטונים קשורים</td>
                <td style="padding-bottom:9px;">
                    <div class="exercise-videos-list"></div>

                    <div><a href="javascript:" data-id="add-video" class="item-action simple-button action-gradient">הוסף סרטון קשור</a></div>

                    <em>אם תלמידים מתקשים בתרגיל זה, אנחנו נפנה אותם לסרטונים הקשורים האלו.</em>
                  {{#if oldValues.related_videos}}
                    {{#each oldValues.related_videos}}
                      <span class="old-value">ערך ישן: <input type="text" disabled value="{{ this }}" maxlength="256"/></span><br/>
                    {{/each}}
                  {{/if}}
                </td>
            </tr>
            {{/unless}}

            <tr>
                <td style="font-weight:bold;">תיאור</td>
                <td style="padding-bottom:9px;">
                <input type="text" name="description" value="{{ model.description }}" maxlength="256"/><br/>
                {{#if oldValues.description }}<span class="old-value">ערך ישן: <input type="text" disabled value="{{ oldValues.description }}" maxlength="256"/></span><br/>{{/if}}
                <em>טקסט תיאור הנראה ברשימת הנושאים</em>
                </td>
            </tr>

            <tr>
                <td style="font-weight:bold;">תוויות</td>
                <td style="padding-bottom:9px;">
                    <div class="tags-list"></div>

                    <input class="add-tag" type="text" value="" maxlength="32" placeholder=" - הוסף תווית" class="placeholder short" /> 
                    <a href="javascript:" data-id="add-tag" class="item-action simple-button action-gradient">הוסף</a>
                  {{#if oldValues.tags}}
                    {{#each oldValues.tags}}
                      <span class="old-value">ערך ישן: <input type="text" disabled value="{{ this }}" maxlength="256"/></span><br/>
                    {{/each}}
                  {{/if}}
                </td>
            </tr>


            </table>

    </div>
</div>
