<div>
  <img src="/images/video-camera-icon-shadow.png" width="48" height="48" style="vertical-align: middle">
  <input type="text" name="title" class="node-title simple-input ui-corner-all blur-on-esc" value="{{ model.title }}">
  <a href="javascript:" data-id="save" class="save-button item-action simple-button disabled action-gradient">שמירה</a>
</div>

{{#if oldValues.title }}<span class="old-value">ערך ישן: <input type="text" disabled value="{{ oldValues.title }}" maxlength="32"/></span><br/>{{/if}}
    
<div>
  <a href="javascript:" data-id="remove_item" class="item-action left-align simple-button blue action-gradient">הסירו מהנושא</a>
</div>
<div style="clear: both" />

<div style="padding: 9px 23px;">
  <div>
    <table class="node-properties">

      <tr>
        <td colspan="2">כל השינויים נשמרו <strong>בגרסה הערוכה</strong> של האתר כאשר אתם לוחצים על כפתור "שמירה".</td>
      </tr>

      <tr>
        <td style="font-weight:bold;">לצפיה</td>
        <td style="padding-bottom:9px;">
          <a href="{{ model.ka_url }}" target="_blank">פתחו את {{ model.title }} בחלונית חדשה</a>
        </td>
      </tr>

      <tr>
        <td style="font-weight:bold;">אסימון</td>
        <td style="padding-bottom:9px;">
          <input type="text" name="readable_id" value="{{ model.readable_id }}" maxlength="64"/><br/>
          {{#if oldValues.readable_id }}<span class="old-value">ערך ישן: <input type="text" disabled value="{{ oldValues.readable_id }}" maxlength="64"/></span><br/>{{/if}}
          <em>זיהוי קצר המשמש כמפתח בשביל ה-API ובלינקים של כתובת האתר לסרטון הזה</em>
        </td>
      </tr>

      <tr>
        <td style="font-weight:bold;">מזהה YouTube</td>
        <td style="padding-bottom:9px;">
          <input type="text" name="youtube_id" value="{{ model.youtube_id }}" maxlength="11" class="short" /><br/>
          {{#if oldValues.youtube_id }}<span class="old-value">ערך ישן: <input type="text" disabled value="{{ oldValues.youtube_id }}" maxlength="11" class="short"/></span><br/>{{/if}}
          <em>מזהה לוידאו הזה ב- YouTube</em>
        </td>
      </tr>

      <tr>
        <td style="font-weight:bold;">תיאור</td>
        <td style="padding-bottom:9px;">
          <textarea name="description">{{ model.description }}</textarea><br/>
          {{#if oldValues.description }}<span class="old-value">ערך ישן: <textarea disabled>{{ oldValues.description }}</textarea></span><br/>{{/if}}
          <em>תיאור המוצג ברשימות הנושא</em>
        </td>
      </tr>

      <tr>
        <td style="font-weight:bold;">מילות מפתח</td>
        <td style="padding-bottom:9px;">
          <input type="text" name="keywords" value="{{ model.keywords }}" maxlength="256"/><br/>
          {{#if oldValues.keywords }}<span class="old-value">ערך ישן: <input type="text" disabled value="{{ oldValues.keywords }}" maxlength="256"/></span><br/>{{/if}}
          <em>תנאים שיש לכלול כאשר ממיינים את הסרטון לחיפוש</em>
        </td>
      </tr>

    </table>
  </div>
</div>
