<div>
  <a href="javascript:" class="edit-version simple-button green action-gradient" style="float: right">ראו את גרסה זו</a>
  <div><strong>גרסה #{{ number }}:</strong> "{{ title }}"
    {{#edit}}
      <strong>[עריכת גרסה]</strong>
    {{/edit}}
    {{#default}}<strong>[גרסה חיה נוכחית]</strong>{{/default}}
  </div>
  <div style="margin-left: 20px;"><strong>תיאור:</strong> {{ description }}</div>
  <div style="margin-left: 20px;"><strong>נוצר:</strong> {{ created_on }}</div>
  <div style="margin-left: 20px;"><strong>עודכן:</strong> {{ updated_on }} על ידי {{ last_edited_by }}</div>
</div>
