<div class="exercise-edit" data-id="{{ name }}">
  <a href="{{ url }}" style="color: {{#if live}}#069{{else}}red{{/if}}; display: block">{{ name }}</a><br/>
  {{ display_name|escape }}
  <span class="exercise-show simple-button action-gradient" data-id="name" style="display:none;">
  	<img src="/images/map-target.png" title="Show in map" alt="Show in map">
  </span>
</div>